:global .Select {
    width: 13em;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.4em;
}

:global .Select, :global .Select-control, :global .Select-input {
    height: 28px;
}

:global .Select-control {
    border-radius: 0;
}

:global .Select-placeholder, :global :not(.Select--multi) > .Select-control .Select-value {
    line-height: 28px;
}

:global .is-focused:not(.is-open) > .Select-control {
    border-color: #ccc;
    box-shadow: none;
}
